body {
    margin: 0 auto;
    background-color: white;
    color: black;
}

.card {
    margin: 10px auto;
    padding: 40px;
    width: 500px;
    height: 900px;
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.card__title {
    display: inline-block;
    font-size: 44px;
    margin: 0;
    padding: 0 0 20px;
    color: red;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__text {
    text-align: center;
    font-size: 22px;
    margin: 0;
    padding: 40px 0 20px;
    color: rgb(1, 84, 57);
}

.card__button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid green;
    color: green;
    margin: 20px 0 0;
}