.App {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  height: 100vh;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.App-content {
  max-width: 860px;
  margin: 90px auto;
}

.App-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.App-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.App__form {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  flex-wrap: wrap;
}