.Button {
  text-align: center;
  background-color: #000;
  color: #fff;
  width: 170px;
  height: 54px;
  font-size: 14px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.Button:hover {
  opacity: 0.7;
}