.Button {
  text-align: center;

  color: #db3eb1;
  width: 170px;
  height: 54px;
  font-size: 14px;
  border: 0;
  border: 2px solid #db3eb1;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  transition: .5s;
}

.Button:hover {
  color: black;
  opacity: 0.7;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}

/* .Button {
  color: #db3eb1;
  border: 6px solid #db3eb1;
  border-radius: 15px;
  padding: 15px 25px;
  font-size: 14px;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  transition: .5s;
}

.Button:hover {
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
} */